
.prgf{
    color: white;
    font-size: 1.5em;
}
.cabecalho{
    margin-left: 23em;
    min-width: max-content;
}
header{
    background-image: url(../assets/walltexture.png);
    background-size: cover;
    border-radius: 15px;
    position: sticky;
    top: 0;
    padding-bottom: 10px;
    max-block-size: 11em;
    display: flex;
    flex-direction: column;
}
h1.h1v1{
    color: white;
    display: flex;
    margin-left: 1.25em;
}
h2.h1v1{
    color: rgb(65, 0, 0);
    margin-left: 6em;
    font-size: 1.5em;

}
.texto-inicial{
    max-height: 4em;
}
nav{

    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    display: flex;
}
main{
    text-align: center;
    font-size: 1.25em;
    color: rgb(222, 200, 0);

}
a{
    color: red;
   transition: 1s;
   font-weight: bold;
}
a:hover{
    transform: scale(1.5);
    color: rgb(68, 68, 0);
    font-weight: bold;
}
body{
    background-image: url("../assets/partytexture.jpg");
    background-attachment: fixed;
}
#cabeça{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    max-block-size: 10em;
}
.logo{
    max-block-size: 12em;
}
footer{
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    color: white;
    background-color: black;
    border-top: 5px;
    border-style: solid;
    border-color: purple;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}


