 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
header{
    background-image: url(../assets/walltexture.png);
    background-size: cover;
    border-radius: 15px;
    position: sticky;
    top: 0;
    max-block-size: 11rem;
    display: flex;
    flex-direction: column;
    border: solid;
    min-width: min-content;
    min-block-size: 9rem;
}
h1.h1v1{
    margin-top: 1rem;
    color: white;
    display: flex;
    margin-left: 1.25rem;
}
h2.h1v1{
    color: rgb(255, 236, 62);
    margin-left: 7.5rem;
    padding-right: 0;
    font-size: 1.5rem;
}
nav{
    justify-content: space-evenly;
    display: flex;
    background-color: rgb(31, 31, 31);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 3rem;
}
main{
    font-size: 1.50em;
    color: rgb(222, 200, 0);
    margin-left: 2rem;
    margin-right: 2rem
}
img#fachada{
    border: solid;
    border-color: yellow;
}
#dinner{
    text-align: center;
}
#paragrafo1{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    background-image: radial-gradient(rgb(105, 105, 105),rgb(44, 44, 44));
    border-color: yellow;
    border: solid;
    box-shadow: 0.75em 0.75em 0.5em 0em rgb(44, 44, 44);
}
p{
    margin-bottom: 1rem;
}
#espaco{
    margin-top: 6rem;
}
h2#espaco{
    margin-bottom: 2rem;
}
#animatronic{
    display: flex;
    justify-content: space-evenly;
}
#descricao{
    display: flex;
    flex-direction: row;
    font-size: 100%;
    justify-content: space-evenly;
    background-image:linear-gradient(rgb(45, 0, 73),rgb(25, 0, 28));
    gap: 2em;
    font-size: 0;
    transition: 1s;
}
#descricao:hover{
font-size: 100%;
}
#texto-descrito{
    border: solid;
    border-color: yellow;
}
.um{
    background-color: rgb(54, 54, 54);
    padding-right: 1rem;
    padding-left: 1rem;
}
a{
    color: red;
    transition: 1s;
    font-weight: bold;
    background-color: rgb(31, 31, 31);
    font-size: 1.25rem;
}
#blueprint{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-image:linear-gradient(rgb(0, 60, 255),rgb(49, 0, 134));
    border: solid;
    border-color: black;
    box-shadow: 0.75em 0.75em 0.5em 0em rgb(44, 44, 44);
}
div#peca{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    transform: scale(1.5);
    color: rgb(68, 68, 0);
    font-weight: bold;
}
body{
    background-image: url("../assets/partytexture.jpg");
    background-attachment: fixed;
    background-size: 70%;
}
#cabeça{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    max-block-size: 0em;
}
.logo{
    max-block-size: 9rem;
}
footer{
    margin-top: 5rem;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
    background-color: black;
    border-top: 5px;
    border-style: solid;
    border-color: purple;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}
